@page "/FAS"

<style>
    .hide_header{
        display:none;
    }
</style>

 <div class="container-xxl py-6 pt-5">
    
     <div class="container">
         <div class="text-center mb-5">
            <a class="btn btn-outline-primary" href="/">Back to Home</a>
         </div>

        <img class="img-fluid mb-5" src="/portfolio/projects/fas/1.png" />
        <img class="img-fluid mb-5" src="/portfolio/projects/fas/2.png" />
        <img class="img-fluid mb-5" src="/portfolio/projects/fas/3.png" />
        <img class="img-fluid mb-5" src="/portfolio/projects/fas/4.png" />
        <img class="img-fluid mb-5" src="/portfolio/projects/fas/5.png" />

        <div class="col-md-12 iframe-container">
            <iframe width="1110" height="600" src="https://www.youtube.com/embed/pNU5NiPEyPM?si=FREQRRQGejoPtTaI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>

        <div class="text-center mt-5">
            <a class="btn btn-outline-primary" href="/">Back to Home</a>
        </div>

     </div>
 </div>