@page "/WW"

<style>
    .hide_header {
        display: none;
    }
</style>

<div class="container-xxl py-6 pt-5">

    <div class="container">
        <div class="text-center mb-5">
            <a class="btn btn-outline-primary" href="/">Back to Home</a>
        </div>

        <img class="img-fluid mb-5" src="/portfolio/projects/ww/Home Page.png" />
        <img class="img-fluid mb-5" src="/portfolio/projects/ww/Find Stockist.png" />
        <img class="img-fluid mb-5" src="/portfolio/projects/ww/ContactUs.png" />
        <img class="img-fluid mb-5" src="/portfolio/projects/ww/About.png" />
        <img class="img-fluid mb-5" src="/portfolio/projects/ww/WiperPage.png" />

        <img class="img-fluid mb-5" src="/portfolio/projects/ww/Mobile Landing Page.jpg" />
        <img class="img-fluid mb-5" src="/portfolio/projects/ww/ManualSearch-Res.png" />
        <img class="img-fluid mb-5" src="/portfolio/projects/ww/ProductPage-Res.png" />
        

        <div class="col-md-12 iframe-container">
            <iframe width="1110" height="600" src="https://www.youtube.com/embed/gCpx_ruvL2E?si=_THL-iDqi1mbn1an" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>

        <div class="text-center mt-5">
            <a class="btn btn-outline-primary" href="/">Back to Home</a>
        </div>

    </div>
</div>
