@page "/"


<!-- About Start -->
<div class="container-xxl py-6" id="about">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="d-flex align-items-center mb-5">
                    <div class="years flex-shrink-0 text-center me-4">
                        <h1 class="display-1 mb-0">6</h1>
                        <h5 class="mb-0">Years</h5>
                    </div>
                    <h3 class="lh-base mb-0">of working experience as a Full Stack .NET & Blazor Developer</h3>
                </div>
                <p class="mb-4">I have strong skill sets in <b>.NET Core, Microsoft Blazor, .NET MVC, .NET Web API, Entity Framework, MAUI, and Blazor Hybrid. I am proficient in deploying applications on-premises using IIS.</b> I excel in back-end development and have strong front-end skills, including HTML5, CSS3, and JavaScript. I am also familiar with Single-Page Applications (SPAs) and responsive web design (RWD). Additionally, I occasionally participate in desktop and mobile application projects.</p>

                @* <a class="btn btn-primary py-3 px-5 mt-3" href="">Read More</a> *@
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                @* <div class="row g-3 mb-4">
                <div class="col-sm-6">
                <img class="img-fluid rounded" src="portfolio/img/Dashboard.jpg" alt="">
                </div>
                <div class="col-sm-6">
                <img class="img-fluid rounded" src="portfolio/img/about-2.jpg" alt="">
                </div>
                </div> *@
                @* <div class="d-flex align-items-center mb-3">
                <h5 class="border-end pe-3 me-3 mb-0">Happy Clients</h5>
                <h2 class="text-primary fw-bold mb-0" data-toggle="counter-up">1234</h2>
                </div>
                <p class="mb-4">Stet no et lorem dolor et diam, amet duo ut dolore vero eos. No stet est diam amet diam ipsum clita labore dolor duo clita.</p> *@
                <div class="d-flex align-items-center mb-3 mt-4">
                    <h5 class="border-end pe-3 me-3 mb-0">Projects Completed</h5>
                    <h2 class="text-primary fw-bold mb-0" data-toggle="counter-up">15</h2>
                </div>
                <p class="mb-0">I have a proven track record of successfully completing 𝙘𝙡𝙤𝙪𝙙 𝙗𝙖𝙨𝙚𝙙 𝙡𝙤𝙣𝙜 𝙩𝙚𝙧𝙢 𝙖𝙣𝙙 𝙨𝙝𝙤𝙧𝙩 𝙩𝙚𝙧𝙢 𝙥𝙧𝙤𝙟𝙚𝙘𝙩𝙨 across diverse industries, including 𝙏𝙤𝙮𝙤𝙩𝙖 (𝙎𝙥𝙖𝙧𝙚 𝙥𝙖𝙧𝙩𝙨), 𝑫𝒂𝒊𝒓𝒚(𝙀𝙍𝙋), 𝑪𝒐𝒏𝒔𝒕𝒓𝒖𝒄𝒕𝒊𝒐𝒏 (𝘼𝙩𝙩𝙚𝙣𝙙𝙖𝙣𝙘𝙚 & 𝙋𝙖𝙮𝙧𝙤𝙡𝙡 ), 𝘾𝙖𝙧 𝙆𝙚𝙮𝙨 𝑾𝒉𝒐𝒍𝒆𝒔𝒂𝒍𝒆𝒓, 𝑭𝒊𝒏𝒂𝒏𝒄𝒊𝒂𝒍𝒔 𝑴𝒂𝒏𝒂𝒈𝒆𝒎𝒆𝒏𝒕, 𝑳𝒐𝒄𝒂𝒍/𝑰𝒎𝒑𝒐𝒓𝒕 𝑷𝒖𝒓𝒄𝒉𝒂𝒔𝒆𝒔 𝒂𝒏𝒅 𝑰𝒏𝒗𝒆𝒏𝒕𝒐𝒓𝒚 𝑴𝒂𝒏𝒂𝒈𝒆𝒎𝒆𝒏𝒕.</p>

                <p class="mb-3 mt-3"><i class="far fa-check-circle text-primary me-3"></i>Afordable Prices</p>
                <p class="mb-3"><i class="far fa-check-circle text-primary me-3"></i>High Quality Product</p>
                <p class="mb-3"><i class="far fa-check-circle text-primary me-3"></i>On Time Project Delivery</p>


            </div>
        </div>
    </div>
</div>
<!-- About End -->
<!-- Expertise Start -->
<div class="container-xxl py-6 pb-5" id="skill">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <h1 class="display-5 mb-5">Skills & Experience</h1>
                <p class="mb-4">
                    I am proficient in Syncfusion controls. It includes more than 1,000 components and frameworks for ASP.NET (Web Forms, MVC, Core), MAUI, Blazor, Blazor Hybrid, JavaScript, Angular and React. I have been working with it for over 6 years so I can do all Syncfusion jobs.
                </p>
                <p class="mb-1 mt-3"><i class="far fa-check-circle text-primary me-3"></i>15+ 𝐂𝐮𝐬𝐭𝐨𝐦𝐢𝐳𝐞𝐝 𝐄𝐑𝐏 from Past 6+ 𝐘𝐞𝐚𝐫𝐬.</p>
                <p class="mb-1"><i class="far fa-check-circle text-primary me-3"></i>150+ 𝐂𝐨𝐧𝐜𝐮𝐫𝐫𝐞𝐧𝐜𝐲 𝐭𝐞𝐬𝐭𝐞𝐝 on my long-term application.</p>
                <p class="mb-1"><i class="far fa-check-circle text-primary me-3"></i>20+ 𝐈𝐈𝐒 𝐃𝐞𝐩𝐥𝐨𝐲𝐦𝐞𝐧𝐭𝐬.</p>
                <p class="mb-1"><i class="far fa-check-circle text-primary me-3"></i>500+ ERP related 𝐑𝐞𝐩𝐨𝐫𝐭𝐬.</p>
                <p class="mb-1"><i class="far fa-check-circle text-primary me-3"></i>90% of my clients are long-term.</p>



                @* <h3 class="mb-4">My Skills</h3>
                <div class="row align-items-center">
                <div class="col-md-6">
                <div class="skill mb-4">
                <div class="d-flex justify-content-between">
                <h6 class="font-weight-bold">HTML</h6>
                <h6 class="font-weight-bold">95%</h6>
                </div>
                <div class="progress">
                <div class="progress-bar bg-primary" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                </div>
                <div class="skill mb-4">
                <div class="d-flex justify-content-between">
                <h6 class="font-weight-bold">CSS</h6>
                <h6 class="font-weight-bold">85%</h6>
                </div>
                <div class="progress">
                <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                </div>
                <div class="skill mb-4">
                <div class="d-flex justify-content-between">
                <h6 class="font-weight-bold">PHP</h6>
                <h6 class="font-weight-bold">90%</h6>
                </div>
                <div class="progress">
                <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                </div>
                </div>
                <div class="col-md-6">
                <div class="skill mb-4">
                <div class="d-flex justify-content-between">
                <h6 class="font-weight-bold">Javascript</h6>
                <h6 class="font-weight-bold">90%</h6>
                </div>
                <div class="progress">
                <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                </div>
                <div class="skill mb-4">
                <div class="d-flex justify-content-between">
                <h6 class="font-weight-bold">Angular JS</h6>
                <h6 class="font-weight-bold">95%</h6>
                </div>
                <div class="progress">
                <div class="progress-bar bg-dark" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                </div>
                <div class="skill mb-4">
                <div class="d-flex justify-content-between">
                <h6 class="font-weight-bold">Wordpress</h6>
                <h6 class="font-weight-bold">85%</h6>
                </div>
                <div class="progress">
                <div class="progress-bar bg-info" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                </div>
                </div>
                </div> *@
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                <ul class="nav nav-pills rounded border border-2 border-primary mb-5">
                    <li class="nav-item w-50">
                        <button class="nav-link w-100 py-3 fs-5 active" data-bs-toggle="pill" href="#tab-1">Experience</button>
                    </li>
                    <li class="nav-item w-50">
                        <button class="nav-link w-100 py-3 fs-5" data-bs-toggle="pill" href="#tab-2">Education</button>
                    </li>
                </ul>
                <div class="tab-content">
                    <div id="tab-1" class="tab-pane fade show p-0 active">
                        <div class="row gy-5 gx-4">
                            <div class="col-sm-6">
                                <h5>Blazor, Syncfusion, MSSQL & Crystal Report</h5>
                                <hr class="text-primary my-2">
                                <p class="text-primary mb-1">2023 - Current</p>
                                <h6 class="mb-0">Financial Accounting System - Prema Milk</h6>
                            </div>
                            <div class="col-sm-6">
                                <h5>Shopify to Blazor Migration</h5>
                                <hr class="text-primary my-2">
                                <p class="text-primary mb-1">2023/04 - 2023/06</p>
                                <h6 class="mb-0">Wiperworx - Australia</h6>
                            </div>
                            <div class="col-sm-6">
                                <h5>Blazor Integration with Servicem8</h5>
                                <hr class="text-primary my-2">
                                <p class="text-primary mb-1">2022/11 - 2023/06</p>
                                <h6 class="mb-0">KrazyKeys - Australia</h6>
                            </div>
                            <div class="col-sm-6">
                                <h5>.NET MVC, MSSQL, API, WebForm & Crystal Report</h5>
                                <hr class="text-primary my-2">
                                <p class="text-primary mb-1">2022/11 - 2023/06</p>
                                <h6 class="mb-0">Customized ERP - At-Tahur Ltd - Pakistan</h6>
                            </div>
                        </div>
                    </div>
                    <div id="tab-2" class="tab-pane fade show p-0">
                        <div class="row gy-5 gx-4">
                            <div class="col-sm-6">
                                <h5>Master's in IT</h5>
                                <hr class="text-primary my-2">
                                <p class="text-primary mb-1">2016 - 2018</p>
                                <h6 class="mb-0">University of Education</h6>
                            </div>
                            <div class="col-sm-6">
                                <h5>.NET Specialist</h5>
                                <hr class="text-primary my-2">
                                <p class="text-primary mb-1">2017 - 2018</p>
                                <h6 class="mb-0">Evonture Solution</h6>
                            </div>
                            <div class="col-sm-6">
                                <h5>BSc Double Math</h5>
                                <hr class="text-primary my-2">
                                <p class="text-primary mb-1">2014 - 2016</p>
                                <h6 class="mb-0">University of the Punjab</h6>
                            </div>
                            @* <div class="col-sm-6">
                            <h5>Apps Design</h5>
                            <hr class="text-primary my-2">
                            <p class="text-primary mb-1">2000 - 2045</p>
                            <h6 class="mb-0">Cambridge University</h6>
                            </div> *@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Expertise End -->
<!-- Service Start -->
<div class="container-fluid bg-light my-5 py-6" id="service">
    <div class="container">
        <div class="row g-5 mb-5 wow fadeInUp" data-wow-delay="0.1s">
            <div class="col-lg-6">
                <h1 class="display-5 mb-0">My Services</h1>
            </div>
            @* <div class="col-lg-6 text-lg-end">
            <a class="btn btn-primary py-3 px-5" href="">Hire Me</a>
            </div> *@
        </div>
        <div class="row g-4">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item d-flex flex-column flex-sm-row bg-white rounded h-100 p-4 p-lg-5">
                    <div class="bg-icon flex-shrink-0 mb-3">
                        <i class="fa fa-crop-alt fa-2x text-dark"></i>
                    </div>
                    <div class="ms-sm-4">
                        <h4 class="mb-3">Blazor Developer</h4>
                        @* <h6 class="mb-3">Start from <span class="text-primary">$20/hr</span></h6> *@
                        <span>You can get a comprehensive Blazor Server or WebAssembly web app, covering both front-end and back-end development. The app can integrate Syncfusion controls and Crystal Report. APIs for data interactions, and database migrations. This solution is compatible with .NET Core and the latest versions of .NET, including .NET 5, 6, 7, and 8.</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item d-flex flex-column flex-sm-row bg-white rounded h-100 p-4 p-lg-5">
                    <div class="bg-icon flex-shrink-0 mb-3">
                        <i class="fa fa-code-branch fa-2x text-dark"></i>
                    </div>
                    <div class="ms-sm-4">
                        <h4 class="mb-3">Blazor Hybrid (window, android, ios)</h4>
                        @* <h6 class="mb-3">Start from <span class="text-primary">$30/hr</span></h6> *@
                        <span>You can have an excellent Blazor Hybrid app developed for Windows, Android, iOS, and Tizen. By integrating MySQL and MSSQL databases.APIs enable efficient communication between the front-end and backend, facilitating complex data interactions and services.</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item d-flex flex-column flex-sm-row bg-white rounded h-100 p-4 p-lg-5">
                    <div class="bg-icon flex-shrink-0 mb-3">
                        <i class="fa fa-code fa-2x text-dark"></i>
                    </div>
                    <div class="ms-sm-4">
                        <h4 class="mb-3">Full Stack .NET Developer</h4>
                        @* <h6 class="mb-3">Start from <span class="text-primary">$20/hr</span></h6> *@
                        <span>Customized Web based solution by using this tech stack: .NET Core, .NET MVC, Entity Framework, Javascript, Ajax, HTML, CSS, API, Crystal Report, IIS, Multitinancy, Crystal Report.</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item d-flex flex-column flex-sm-row bg-white rounded h-100 p-4 p-lg-5">
                    <div class="bg-icon flex-shrink-0 mb-3">
                        <i class="fa fa-laptop-code fa-2x text-dark"></i>
                    </div>
                    <div class="ms-sm-4">
                        <h4 class="mb-3">Crystal Report Expert</h4>
                        @* <h6 class="mb-3">Start from <span class="text-primary">$20/hr</span></h6> *@
                        <span>I can design and integrate Crystal Reports into your .NET-based web app, offering various report types such as simple report designs, group-by report designs, main and sub-report designs, and cross-tab report designs.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->
<!-- Projects Start -->
<div class="container-xxl py-6 pt-5" id="project">
    <div class="container">
        <div class="row g-5 mb-5 align-items-center wow fadeInUp" data-wow-delay="0.1s">
            <div class="col-lg-6">
                <h1 class="display-5 mb-0">My Projects</h1>
            </div>
            <div class="col-lg-6 text-lg-end">
                <ul class="list-inline mx-n3 mb-0" id="portfolio-flters">
                    <li class="mx-3 active" data-filter="*">All Projects</li>
                    <li class="mx-3" data-filter=".first">Full Stack .NET MVC</li>
                    <li class="mx-3" data-filter=".second">Blazor Developer</li>
                </ul>
            </div>
        </div>
        <div class="row g-4 portfolio-container wow fadeInUp" data-wow-delay="0.1s">
            <div class="col-lg-4 col-md-6 portfolio-item second">
                <div class="portfolio-img rounded overflow-hidden">
                    <img class="img-fluid" src="/portfolio/projects/fas/1.png" alt="">
                    <div class="portfolio-btn">
                        <a class="btn btn-lg btn-outline-secondary border-2 mx-1" href="/FAS"><i class="fa fa-link"></i> Detail</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item first">
                <div class="portfolio-img rounded overflow-hidden">
                    <img class="img-fluid" src="portfolio/projects/ims/1.jpg" alt="">
                    <div class="portfolio-btn">
                        <a class="btn btn-lg btn-outline-secondary border-2 mx-1" href="/IMS"><i class="fa fa-link"></i> Detail</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item first">
                <div class="portfolio-img rounded overflow-hidden">
                    <img class="img-fluid" src="portfolio/projects/sms/1.png" alt="">
                    <div class="portfolio-btn">

                        <a class="btn btn-lg btn-outline-secondary border-2 mx-1" href="/SMS"><i class="fa fa-link"></i> Detail</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item second">
                <div class="portfolio-img rounded overflow-hidden">
                    <img class="img-fluid" src="/portfolio/projects/ww/1.png" alt="">
                    <div class="portfolio-btn">

                        <a class="btn btn-lg btn-outline-secondary border-2 mx-1" href="/ww"><i class="fa fa-link"></i> Detail</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item first">
                <div class="portfolio-img rounded overflow-hidden">
                    <img class="img-fluid" src="portfolio/projects/kk/1.png" alt="">
                    <div class="portfolio-btn">

                        <a class="btn btn-lg btn-outline-secondary border-2 mx-1" href="/kk"><i class="fa fa-link"></i> Detail</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item second">
                <div class="portfolio-img rounded overflow-hidden">
                    <img class="img-fluid" src="portfolio/projects/cr/1.png" alt="">
                    <div class="portfolio-btn">

                        <a class="btn btn-lg btn-outline-secondary border-2 mx-1" href="/cr"><i class="fa fa-link"></i> Detail</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Projects End -->
@* <!-- Team Start -->
    <div class="container-xxl py-6 pb-5" id="team">
        <div class="container">
            <div class="row g-5 mb-5 wow fadeInUp" data-wow-delay="0.1s">
                <div class="col-lg-6">
                    <h1 class="display-5 mb-0">Team Members</h1>
                </div>
                <div class="col-lg-6 text-lg-end">
                    <a class="btn btn-primary py-3 px-5" href="">Contact Us</a>
                </div>
            </div>
            <div class="row g-4">
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="team-item position-relative">
                        <img class="img-fluid rounded" src="portfolio/img/team-1.jpg" alt="">
                        <div class="team-text bg-white rounded-end p-4">
                            <div>
                                <h5>Full Name</h5>
                                <span>Designer</span>
                            </div>
                            <i class="fa fa-arrow-right fa-2x text-primary"></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="team-item position-relative">
                        <img class="img-fluid rounded" src="portfolio/img/team-2.jpg" alt="">
                        <div class="team-text bg-white rounded-end p-4">
                            <div>
                                <h5>Full Name</h5>
                                <span>Designer</span>
                            </div>
                            <i class="fa fa-arrow-right fa-2x text-primary"></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="team-item position-relative">
                        <img class="img-fluid rounded" src="portfolio/img/team-3.jpg" alt="">
                        <div class="team-text bg-white rounded-end p-4">
                            <div>
                                <h5>Full Name</h5>
                                <span>Designer</span>
                            </div>
                            <i class="fa fa-arrow-right fa-2x text-primary"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Team End --> *@


@* <!-- Testimonial Start -->
    <div class="container-fluid bg-light py-5 my-5" id="testimonial">
        <div class="container-fluid py-5">
            <h1 class="display-5 text-center mb-5 wow fadeInUp" data-wow-delay="0.1s">Testimonial</h1>
            <div class="row justify-content-center">
                <div class="col-lg-3 d-none d-lg-block">
                    <div class="testimonial-left h-100">
                        <img class="img-fluid wow fadeIn" data-wow-delay="0.1s" src="portfolio/img/testimonial-1.jpg" alt="">
                        <img class="img-fluid wow fadeIn" data-wow-delay="0.3s" src="portfolio/img/testimonial-2.jpg" alt="">
                        <img class="img-fluid wow fadeIn" data-wow-delay="0.5s" src="portfolio/img/testimonial-3.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="owl-carousel testimonial-carousel">
                        <div class="testimonial-item text-center">
                            <div class="position-relative mb-5">
                                <img class="img-fluid rounded-circle border border-secondary p-2 mx-auto" src="portfolio/img/testimonial-1.jpg" alt="">
                                <div class="testimonial-icon">
                                    <i class="fa fa-quote-left text-primary"></i>
                                </div>
                            </div>
                            <p class="fs-5 fst-italic">Dolores sed duo clita tempor justo dolor et stet lorem kasd labore dolore lorem ipsum. At lorem lorem magna ut et, nonumy et labore et tempor diam tempor erat.</p>
                            <hr class="w-25 mx-auto">
                            <h5>Client Name</h5>
                            <span>Profession</span>
                        </div>
                        <div class="testimonial-item text-center">
                            <div class="position-relative mb-5">
                                <img class="img-fluid rounded-circle border border-secondary p-2 mx-auto" src="portfolio/img/testimonial-2.jpg" alt="">
                                <div class="testimonial-icon">
                                    <i class="fa fa-quote-left text-primary"></i>
                                </div>
                            </div>
                            <p class="fs-5 fst-italic">Dolores sed duo clita tempor justo dolor et stet lorem kasd labore dolore lorem ipsum. At lorem lorem magna ut et, nonumy et labore et tempor diam tempor erat.</p>
                            <hr class="w-25 mx-auto">
                            <h5>Client Name</h5>
                            <span>Profession</span>
                        </div>
                        <div class="testimonial-item text-center">
                            <div class="position-relative mb-5">
                                <img class="img-fluid rounded-circle border border-secondary p-2 mx-auto" src="portfolio/img/testimonial-3.jpg" alt="">
                                <div class="testimonial-icon">
                                    <i class="fa fa-quote-left text-primary"></i>
                                </div>
                            </div>
                            <p class="fs-5 fst-italic">Dolores sed duo clita tempor justo dolor et stet lorem kasd labore dolore lorem ipsum. At lorem lorem magna ut et, nonumy et labore et tempor diam tempor erat.</p>
                            <hr class="w-25 mx-auto">
                            <h5>Client Name</h5>
                            <span>Profession</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 d-none d-lg-block">
                    <div class="testimonial-right h-100">
                        <img class="img-fluid wow fadeIn" data-wow-delay="0.1s" src="portfolio/img/testimonial-1.jpg" alt="">
                        <img class="img-fluid wow fadeIn" data-wow-delay="0.3s" src="portfolio/img/testimonial-2.jpg" alt="">
                        <img class="img-fluid wow fadeIn" data-wow-delay="0.5s" src="portfolio/img/testimonial-3.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial End --> *@



<!-- Map Start -->
@* <div class="container-xxl pt-5 px-0 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container-xxl pt-5 px-0">
            <div class="bg-dark">
                <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3001156.4288297426!2d-78.01371936852176!3d42.72876761954724!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4ccc4bf0f123a5a9%3A0xddcfc6c1de189567!2sNew%20York%2C%20USA!5e0!3m2!1sen!2sbd!4v1603794290143!5m2!1sen!2sbd"
                frameborder="0" style="width: 100%; height: 450px; border:0;" allowfullscreen="" aria-hidden="false"
                tabindex="0"></iframe>
            </div>
        </div>
    </div> *@
<!-- Map End -->
<!-- Copyright Start -->
@*  <div>
        <div class="container-fluid bg-dark text-white py-4">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                        &copy; <a class="border-bottom text-secondary" href="#">Your Site Name</a>, All Right Reserved.
                    </div>
                    <div class="col-md-6 text-center text-md-end">
                        <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                        Designed By <a class="border-bottom text-secondary" href="https://htmlcodex.com">HTML Codex</a>
                        <br>Distributed By: <a class="border-bottom" href="https://themewagon.com" target="_blank">ThemeWagon</a>
                    </div>
                </div>
            </div>
        </div>
    </div> *@
<!-- Copyright End -->

<Fahad_Portfolio.Client.Pages.Email />


